Repository Mumie-hub/docker-services: changes, and which GitLab CI jobs are due for each by the changed paths.
All: docker_build_repo1, docker_build_repo2, docker_build_repo3

docker_build_repo1:
  stage: build
  image: docker:latest
  services:
  - docker:dind
  script:
  - echo "$CI_PROJECT_PATH"
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
  - docker pull $REGPATH/$REPO1:$CI_COMMIT_REF_SLUG || true
  ...

docker_build_repo2:
  stage: build
  image: docker:latest
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
  - docker pull $REGPATH/$REPO2:$CI_COMMIT_REF_SLUG || true
  ...

docker_build_repo3:
  stage: build
  image: docker:latest
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
  - docker pull $REGPATH/$REPO3:$CI_COMMIT_REF_SLUG || true
  ...

added refs to gitlab-ci stage tasks
  .gitlab-ci.yml
Due: none

Update Dockerfile
  Dockerfile
Due: none

Adding arm support
  .gitlab-ci.yml
  rclone-mount/Dockerfile
Due: docker_build_repo1

smb-mount - bump OVERLAY_VERSION to v2.0.0.1
  smb-mount/Dockerfile
Due: docker_build_repo2

smb-mount - fix colored echo output
  smb-mount/rootfs/etc/cont-finish.d/20-unmount
  smb-mount/rootfs/etc/cont-init.d/20-config
Due: docker_build_repo2

Removing unneeded arg
  .gitlab-ci.yml
Due: none

rclone-mount - added RCLONE_VERSION ARG
  rclone-mount/Dockerfile
Due: docker_build_repo1

rclone-mount - added ENV GO111MODULE to fix go get error
  rclone-mount/Dockerfile
Due: docker_build_repo1

rclone-mount - bumped rclone release tag to v1.52.3
  rclone-mount/Dockerfile
Due: docker_build_repo1

Added support for Multiple Local networks with comma seperated subnets for Sabnzbd with OpenVPN.
  sabnzbdvpn/README.md
  sabnzbdvpn/openvpn/start.sh
Due: none

Update start.sh
  sabnzbdvpn/openvpn/start.sh
Due: none

rclone-mount - bumped RCLONE_VERSION to v1.53.1
  rclone-mount/Dockerfile
Due: docker_build_repo1

v1.53.2
  Dockerfile
Due: none

rclone-mount - bumped RCLONE_VERSION to v1.53.3
  rclone-mount/Dockerfile
Due: docker_build_repo1

rclone-mount - bumped version tag to v1.54.1
  rclone-mount/Dockerfile
Due: docker_build_repo1

rclone-mount - bumped RCLONE_VERSION to v1.55.1
  rclone-mount/Dockerfile
Due: docker_build_repo1

rclone-mount - bumped RCLONE_VERSION to v1.56.0, bumped OVERLAY_VERSION to v2.2.0.3
  rclone-mount/Dockerfile
  smb-mount/Dockerfile
Due: docker_build_repo1, docker_build_repo2

edited .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

sabnzbdvpn - bumped dumb-init to v1.2.5
  sabnzbdvpn/Dockerfile
Due: none

rclone-mount - bumped RCLONE_VERSION to v1.57.0
  rclone-mount/Dockerfile
Due: docker_build_repo1

bumped RCLONE_VERSION to v1.57.0
  rclone-mount/Dockerfile
Due: docker_build_repo1

edited rclone-mount\Dockerfile
  rclone-mount/Dockerfile
Due: docker_build_repo1

edited builder stage, small changes
  rclone-mount/Dockerfile
  rclone-mount/README.md
  rclone-mount/rootfs/etc/colors.sh
  rclone-mount/rootfs/etc/services.d/rclone-mount/finish
  rclone-mount/rootfs/etc/services.d/rclone-mount/run
Due: docker_build_repo1

small changes
  .gitlab-ci.docker.yml
  .gitlab-ci.yml
Due: none

rclone-mount - bumped RCLONE_VERSION to v1.58.0
  rclone-mount/Dockerfile
Due: docker_build_repo1

Path conditions:
  docker_build_repo1: any of: rclone-mount/**/*
  docker_build_repo2: any of: smb-mount/**/*
  docker_build_repo3: any of: jdownloader/**/*
